<nav class="left-navbar d-flex flex-column align-items-center py-4">
  <ul class="nav-icons list-unstyled flex-grow-1">
    <li class="nav-icon mb-4"><i class="fa-solid fa-gauge"></i></li>
    <li class="nav-icon mb-4"><i class="fa-solid fa-file-contract"></i></li>
    <li class="nav-icon mb-4"><i class="fa-solid fa-address-card"></i></li>
    <li class="nav-icon mb-4"><i class="fa-solid fa-signature"></i></li>
    <li class="nav-icon mb-4"><i class="fa-solid fa-square-poll-vertical"></i></li>
    <li class="nav-icon mb-4"><i class="fa-solid fa-mobile-screen"></i></li>
    <li class="nav-icon mb-4"><i class="fa-solid fa-shapes"></i></li>
  </ul>
</nav> 